#addItemFormBox {
  text-align: left;
  margin: 20px;
  width: 30%;
}

#addItemImgButton {
  position: relative;
  top: 0px;
  left: 0px;
  width: 20%;
  margin: 20px;
}

#justTheFormBox{
  padding: 10px;
  background-color: #FFB5B5;
  border: 5px solid #9999FF;
}

.hideAddItemForm {
  display: none;
}

.hideForm {
  display: none;
}

form > div, form > div > * {
  text-align: left;
}

form {
  display: inline;
}
