textarea {
  text-align: left;
}

ul {
  list-style: none;
}

.showCommentInput {
  display: block;
}

.hideCommentInput {
  display: none;
}

textarea {
  margin: auto;
  width: 70%;
}

.altFont {
  font-size: 12px;
}
